In [80]:
# Import findspark and initialise. 
import findspark
findspark.init()

In [81]:
# Import packages
from pyspark.sql import SparkSession
import time


# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [82]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

In [83]:
# 2. Create a temporary view of the DataFrame.
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)


#  Show the lookup table data.
df.show()

23/05/11 16:19:31 WARN SparkContext: The path https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv has been added already. Overwriting of added paths is not supported in the current version.
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [84]:
#Create a temporary view.

df.createOrReplaceTempView("homesales")
spark.sql("SELECT * FROM homesales LIMIT 10").show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+

In [85]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- date_built: string (nullable = true)
 |-- price: string (nullable = true)
 |-- bedrooms: string (nullable = true)
 |-- bathrooms: string (nullable = true)
 |-- sqft_living: string (nullable = true)
 |-- sqft_lot: string (nullable = true)
 |-- floors: string (nullable = true)
 |-- waterfront: string (nullable = true)
 |-- view: string (nullable = true)

In [86]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?
import pyspark.sql.functions as func
four_bedroom = df.filter(df["bedrooms"]==4)

price_updated = four_bedroom.withColumn("price", four_bedroom["price"].cast('float'))

avg_price = df3.groupby("bedrooms").avg().show()

+--------+-----------------+
|bedrooms|       avg(price)|
+--------+-----------------+
|       4|299661.0056283447|
+--------+-----------------+

In [87]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?

three_bedroom = df.filter(df["bedrooms"]==3)
three_bathroom = three_bedroom.filter(three_bedroom["bathrooms"]==3)
price_updated_1 = three_bathroom.withColumn("price", three_bathroom["price"].cast('float'))
avg_price_1 = price_updated_1.groupby("bedrooms").avg().show()

+--------+------------------+
|bedrooms|        avg(price)|
+--------+------------------+
|       3|292003.60507783544|
+--------+------------------+

In [88]:
#  5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?

two_floors= three_bathroom.filter(three_bathroom["floors"]==2)
two_floors_2000= two_floors.filter(two_floors["sqft_lot"]>=2000)
price_updated_2 = two_floors_2000.withColumn("price", two_floors_2000["price"].cast('float'))
avg_price_3 = price_updated_2.groupby("date_built").avg().show()

+----------+------------------+
|date_built|        avg(price)|
+----------+------------------+
|      2016|  287812.603030303|
|      2012|295858.68098159507|
|      2017| 282026.5901162791|
|      2014|294195.13081395347|
|      2013|  295142.127388535|
|      2011|281413.45042492915|
|      2015| 291788.3606557377|
|      2010|  280447.230994152|
+----------+------------------+

In [90]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

start_time = time.time()

view_rating = df.filter(df["price"]>=350000)
col_updated = view_rating.withColumn("price", view_rating["price"].cast('float'))
avg_price_4 = col_updated.groupby("view").avg().show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+------------------+
|view|        avg(price)|
+----+------------------+
|   7| 403005.7709497207|
|  51| 788128.2083333334|
|  15|404673.29545454547|
|  54| 798684.8235294118|
|  11|399548.11891891895|
|  29| 397771.6512820513|
|  69| 750537.9411764706|
|  42|396964.50241545896|
|  87|         1072285.2|
|  73| 752861.1764705882|
|  64| 767036.6666666666|
|   3| 398867.5964912281|
|  30|          397862.0|
|  34| 401419.7451923077|
|  59|          791453.0|
|   8|398592.70658682636|
|  28|402124.62176165805|
|  22| 402022.6847826087|
|  85|1056336.7435897435|
|  16| 399586.5311004785|
+----+------------------+
only showing top 20 rows

--- 0.35632896423339844 seconds ---

In [92]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table homesales")

DataFrame[]

In [93]:
# 8. Check if the table is cached.
spark.catalog.isCached('homesales')

True

In [94]:
# 9. Using the cached data, run the query that filters out the view ratings with average price 
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()

view_rating = df.filter(df["price"]>=350000)
col_updated = view_rating.withColumn("price", view_rating["price"].cast('float'))
avg_price_4 = col_updated.groupby("view").avg().show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+------------------+
|view|        avg(price)|
+----+------------------+
|   7| 403005.7709497207|
|  51| 788128.2083333334|
|  15|404673.29545454547|
|  54| 798684.8235294118|
|  11|399548.11891891895|
|  29| 397771.6512820513|
|  69| 750537.9411764706|
|  42|396964.50241545896|
|  87|         1072285.2|
|  73| 752861.1764705882|
|  64| 767036.6666666666|
|   3| 398867.5964912281|
|  30|          397862.0|
|  34| 401419.7451923077|
|  59|          791453.0|
|   8|398592.70658682636|
|  28|402124.62176165805|
|  22| 402022.6847826087|
|  85|1056336.7435897435|
|  16| 399586.5311004785|
+----+------------------+
only showing top 20 rows

--- 0.4210231304168701 seconds ---

In [95]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 
df.write.partitionBy("date_built").mode("overwrite").parquet("homesales")

In [96]:
# 11. Read the formatted parquet data.
p_df_p=spark.read.parquet('homesales')

In [97]:
# 12. Create a temporary table for the parquet data.
p_df_p.createOrReplaceTempView('homesales_2')

In [98]:
# 13. Run the query that filters out the view ratings with average price of greater than or eqaul to $350,000 
# with the parquet DataFrame. Round your average to two decimal places. 
# Determine the runtime and compare it to the cached version. 

start_time = time.time()

view_rating = df.filter(df["price"]>=350000)
col_updated = view_rating.withColumn("price", view_rating["price"].cast('float'))
avg_price_4 = col_updated.groupby("view").avg().show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+------------------+
|view|        avg(price)|
+----+------------------+
|   7| 403005.7709497207|
|  51| 788128.2083333334|
|  15|404673.29545454547|
|  54| 798684.8235294118|
|  11|399548.11891891895|
|  29| 397771.6512820513|
|  69| 750537.9411764706|
|  42|396964.50241545896|
|  87|         1072285.2|
|  73| 752861.1764705882|
|  64| 767036.6666666666|
|   3| 398867.5964912281|
|  30|          397862.0|
|  34| 401419.7451923077|
|  59|          791453.0|
|   8|398592.70658682636|
|  28|402124.62176165805|
|  22| 402022.6847826087|
|  85|1056336.7435897435|
|  16| 399586.5311004785|
+----+------------------+
only showing top 20 rows

--- 0.21445298194885254 seconds ---

In [100]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table homesales")

DataFrame[]

In [102]:
# 15. Check if the home_sales is no longer cached

spark.catalog.isCached("homesales")

False